<main class="home">
    <div class="home__header">
        <h1 class="title1 home__title">🍷 Búsqueda de genes 🧬</h1>
        <app-logout-button />
    </div>

    <!-- Input search -->
    <section class="home__search">
        <input
            type="text"
            class="home__search-input"
            placeholder="Ej: BRCA1"
            [(ngModel)]="searchInput"
            [disabled]="isLoading"
        />
        <app-button
            [title]="'Buscar'"
            [height]="'53px'"
            [width]="'100px'"
            [style]="'primary'"
            [fontSize]="'16px'"
            [disabled]="isLoading"
            (click)="onSearch()"
        ></app-button>
    </section>

    <!-- No results alert -->
    <div *ngIf="noResults && !isLoading" class="alert alert-warning">
        No se encontraron resultados para la búsqueda.
    </div>

    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="loading-view">
        <div class="spinner"></div>
        <p>Cargando resultados...</p>
    </div>

    <!-- Results -->
    <section class="home__results" *ngIf="!noResults && !isLoading">
        <table class="genes-table">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>ID</th>
                    <th>Ref</th>
                    <th>Alt</th>
                    <th>Qual</th>
                    <th>Filtro</th>
                    <th>Info</th>
                    <th>Formato</th>
                    <th *ngFor="let output of outputs">{{ output }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gen of paginatedGenes">
                    <td>{{ gen.Pos }}</td>
                    <td>{{ gen.Id }}</td>
                    <td>{{ gen.Ref }}</td>
                    <td>{{ gen.Alt }}</td>
                    <td>{{ gen.Qual }}</td>
                    <td>{{ gen.Filter }}</td>
                    <td>{{ gen.Info }}</td>
                    <td>{{ gen.Format }}</td>
                    <td *ngFor="let outputValue of getOutputValues(gen)">{{ outputValue }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Pagination -->
    <div class="pagination" *ngIf="!noResults && !isLoading">
        <app-button
            [title]="'Anterior'"
            [style]="'gray'"
            [disabled]="currentPage === 1 || isLoading"
            (click)="onPageChange(currentPage - 1)"
            [height]="'40px'"
            [width]="'100px'"
        ></app-button>

        <span class="pagination__info"> Página {{ currentPage }} </span>

        <app-button
            [title]="'Siguiente'"
            [style]="'gray'"
            [disabled]="isLastPage || isLoading"
            (click)="onPageChange(currentPage + 1)"
            [height]="'40px'"
            [width]="'100px'"
        ></app-button>
    </div>
</main>
