<main class="home">
    <div class="home__header">
        <h1 class="title1 home__title">Búsqueda de genes</h1>
        <app-logout-button />
    </div>

    <!-- Input search -->
    <section class="home__search">
        <input type="text" class="home__search-input" placeholder="Ej: BRCA1" [(ngModel)]="searchInput" />
        <app-button
            [title]="'Buscar'"
            [height]="'53px'"
            [width]="'100px'"
            [style]="'primary'"
            [fontSize]="'16px'"
            (click)="onSearch()"
        ></app-button>
    </section>

    <!-- No results alert -->
    <div *ngIf="noResults" class="alert alert-warning">No se encontraron resultados para la búsqueda.</div>

    <!-- Results -->
    <section class="home__results" *ngIf="!noResults">
        <table class="genes-table">
            <thead>
                <tr>
                    <th>Cromosoma</th>
                    <th>Posición</th>
                    <th>ID</th>
                    <th>Ref</th>
                    <th>Alt</th>
                    <th>Qual</th>
                    <th>Filtro</th>
                    <th>Info</th>
                    <th>Formato</th>
                    <th>Salida 1</th>
                    <th>Salida 2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gen of paginatedGenes">
                    <td>{{ gen.Chrom }}</td>
                    <td>{{ gen.Pos }}</td>
                    <td>{{ gen.Id }}</td>
                    <td>{{ gen.Ref }}</td>
                    <td>{{ gen.Alt }}</td>
                    <td>{{ gen.Qual }}</td>
                    <td>{{ gen.Filter }}</td>
                    <td>{{ gen.Info }}</td>
                    <td>{{ gen.Format }}</td>
                    <td>{{ gen.Output1 }}</td>
                    <td>{{ gen.Output2 }}</td>
                </tr>
                <tr *ngIf="genes.length === 0">
                    <td colspan="11" class="no-data">No hay datos disponibles.</td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination">
            <app-button
                [title]="'Anterior'"
                [style]="'gray'"
                [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)"
                [height]="'40px'"
                [width]="'100px'"
            ></app-button>

            <span class="pagination__info"> Página {{ currentPage }} </span>

            <app-button
                [title]="'Siguiente'"
                [style]="'gray'"
                [disabled]="isLastPage"
                (click)="onPageChange(currentPage + 1)"
                [height]="'40px'"
                [width]="'100px'"
            ></app-button>
        </div>
    </section>
</main>
