@use 'colors';
@use 'spaces';
@use 'font-sizes';

.link-to-create-account {
    margin-top: spaces.$space-24;
    text-align: center;
    font-size: font-sizes.$font-14;
    color: colors.$gray;

    a {
        color: colors.$primary;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
} 